
.showCard {
    margin-top: 50px;
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

.showCard .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: .5px solid #d0d0d0;
}

.showCard .head .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCard .head .title .name {
    font-size: 20px;
    margin-right: 10px;
}

.showCard .head .title .number {
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e9e9e9;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

.showCard button {
    border: none;
    border-radius: 8px;
    width: 100px;
    padding: 5px 10px;
    background-color: rgb(38, 110, 244);
    color: #fff;
    cursor: pointer;
    transition: all 200ms;
    font-size: 20px;
}

.showCard button:hover {
    background-color: rgb(30, 78, 169);
}

.showCard .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.showCard .content .card {
    width: 330px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 20px 20px;
    border-left: 10px solid #3b65cf;
}

.card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .card-head .card-name {
    font-size: 20px;
}
.card .card-head .card-action {

}
.card-action i {
    font-size: 20px;
    cursor: pointer;
}
.card-action i:nth-child(1) {
    margin-right: 15px;
}
.card .card-datetime {
    margin-top: 15px;
    color: #adacac;
}